.wrapper {
    width: 40%;
    // display: flex;
    // justify-content: center;
}

.container {
    // text-align: center;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // // justify-content: center;
    // align-items: center;
}

.h2 {
    margin-bottom: 1.5rem;
}

.formContainer {
    width: 100%;
}

// .formContainer input {
//     width: 100%;
//     border: none;
//     border-bottom: .05em solid #777;
//     min-height: 1.5em;
//     // border-radius: .25em;
//     padding: .5em;
//     margin: .5rem 0;
// }

.input {
    width: 100%;
    border: none;
    border-bottom: .05em solid #777;
    min-height: 1.5em;
    // border-radius: .25em;
    padding: .5em;
    margin: .5rem 0;
}

.input:focus {
    outline-color: #512F9D; //TODO fundera på om färgen känns rätt
}

// .formContainer input:focus {
//     // outline-color: #E169BF;
//     outline-color: #512F9D; //TODO fundera på om färgen känns rätt
// }

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.buttonContainer a {
    width: 25%; //TODO hör ihop med den eventuella ful-lösningen gällande width nedan.
}

.cancelButton {
    height: 3rem;
    background-color: black;
    background-color: white;
    color: #40B1A6;
    color: white;
    color: black;
    // border: none;
    border: 1px solid black;
    border-radius: .25em;
    cursor: pointer;
    margin: 2rem 0;
    width: 100%; //TODO känns som en ful-lösning, se över hur och om jag vill göra på något annat sätt
}

.cancelButton:hover {
    background-color: black;
    color: white;
}

.error {
    color: rgb(225, 22, 22);
    font-size: .9rem; //TODO bestäm font som ska gälla för alla felmeddelanden
    text-align: end;
}

.inputError {
    border: none;
    border-bottom: 1px solid red;
    width: 100%;
    min-height: 1.5em;
    padding: .5em;
    margin: .5rem 0;
}

// .inputError {
//     border: none;
//     // outline: 1px solid red;
//     border-bottom: 1px solid red;
// }

.inputError:focus {
    outline-color: red; //TODO fundera på om jag vill ha rött eller samma färg som den har i vanliga fall
}

.icon {
    color: rgb(225, 22, 22);
    // border-bottom: .5em solid red;
}

.inputBox {
    display: flex;
    align-items: center;
}

.message {
    text-align: center;
    padding-top: 1rem;
}