.loginMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // width: 33%;
    gap: 1.5rem;
    font-size: 1rem;
    // padding-right: 4rem;
}

.loginMenu a {
    font-family: var(--font-montserrat);
}

.icons {
    font-size: 1.25rem;
}

.icons.heart {
    // color: #8F67BB;
    color: #E169BF;
}

.favorites {
    display: flex;
    flex-direction: column;
}

.cartIconContainer {
    position: relative;
}

.numberInCart {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #40B1A6;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayNone {
    display: none;
}