.loginMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
    gap: 1.5rem;
    font-size: 1rem;
    // padding-right: 4rem;
}

.loginMenu a {
    font-family: var(--font-montserrat);
}

.icons {
    font-size: 1.25rem;
}

.icons.heart {
    // color: #8F67BB;
    color: #E169BF;
}

.favorites {
    display: flex;
    flex-direction: column;
}