.headerNav {
    display: flex;
    // justify-content: center;
    // gap: 2.5rem;
    align-items: center;
    // width: 33%;
}

.headerNav>* {
    height: auto;
    flex: 1;
}

.headerNav a {
    // padding: .25rem 0;
    font-family: var(--font-montserrat);
    text-align: center;
}

.headerNav a:hover {
    // border-bottom: 1.5px solid #40B1A6;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #40B1A6;
    text-underline-offset: .5rem;
}