.wrapper {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    gap: 2rem;
}

.h2 {
    margin-bottom: 1.5rem;
}

.image {
    width: 20%;
}

.info {
    width: 100%;
}

.information {
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
}

.headings div {
    display: flex;
    gap: .5em;
}

.products {
    display: flex;
    justify-content: space-between;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}

.productDetailsContainer {
    margin-bottom: 1rem;
}

.orderContainer {
    border-bottom: 1px solid lightgrey;
}