.container {
    // display: flex;
    // position: relative;
}

.heroContainer {
    text-align: center;
    margin-bottom: 3rem;
}

.heroContainer h1 {
    margin-bottom: 2rem;
}

.filterAndProductsContainer {
    display: flex;
    padding: 2rem 0;
}

.wrapper {
    // background-color: rgb(234, 234, 234);
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    position: relative;
}

.select {
    position: relative;
}

.button {
    display: block;
    width: 100%;
    height: 3.5rem;
    background-color: white;
}

.selectItem {
    display: block;
    padding: 2rem 0 0.5rem;
    background-color: white;
}

.selectContainer {
    border: 2px solid #d3d9f0;
    border-radius: .3rem;
    position: absolute;
    width: 100%;
}

.option {
    display: none;
}

.selectItem:hover {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}