.productWrapper {
    background-color: white;
    padding: 2rem;
    // border-radius: 25px;
    // border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// .imageContainer {
//     // padding: 1rem;
//     // border: 1px solid black;
// }

.image {
    // padding: 1rem;
    // border: 1px solid rgba(0, 0, 0, 0.19);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    // width: 50%;
}

.posterInfoContainer {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.posterInfo>* {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.icon:hover {
    color: #E169BF;
    // color: white;
}

.iconClicked {
    font-size: 1.5rem;
    color: #E169BF;
    cursor: pointer;
}

.iconClicked:hover {
    color: black;
}