.wrapper {
    border-radius: 2rem;
    border: 1px solid black;

}

.input {
    border: none;
    margin: 0 0.5rem;
    // line-height: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 15rem;
}

.input:focus {
    outline: none;
}